@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(/imgs/rubik_background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid grey;
}

nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10%; */
  padding: 40px 10% 0 10%;
}

.logo {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
span {
  color: #f55422;
}

/* nav ul{
    overflow: auto;
} */

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f55422;
  transition: 0.3s;
  text-decoration: underline;
  padding: 5px;
  /* margin:10px; */
}

button {
  border: none;
  background-color: #f55422;
  padding: 4px 10px;
  border-radius: 30px;
  border: 2px solid #f55422;
  color: white;
  font-weight: 500px;
  /* font-size: 14px; */
  transition: 0.4s;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
button:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 2px solid #f55422;
}
/* navbar end */

.nameAnimate {
  margin: 100px 0 0 400px;
  display: inline-block;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-self: center; */
}

.socialLinks {
  /* border: 2px solid red; */
  height: 30px;
  text-align: center;
  margin-top: 15px;
}

.socialLinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin: 6px 10px 0 0;
  font-size: 15px;
  background-color: #11141b;
  color: #f55422;
  border-radius: 10px;
  font-weight: bold;
}
.socialLinks a:hover {
  /* transform: scale(1.1); */
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 2px solid #f55422;
}
.socialLinks a i {
  font-weight: 700;
  letter-spacing: 1px;
  /* color: #08e2d8; */
}
.btns {
  margin: 10px 0 0 400px;
  padding: 0 0 0 0px;
}
/* Hero Section End */

/* About Section Start */
.about {
  border-bottom: 2px solid grey;
  background-color: #11141b;
}
.about-box {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 0px 70px 50px;
}

section .aboutMe {
  display: inline-block;
  margin: 50px 42%;
  padding: 0 0 10px;
  border-bottom: 1px solid #e9ece0;
}
section .aboutMe a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.about-img-wrapper {
  position: relative;
  width: 120%;
  height: 350px;
  border: 15px solid #fff;
  border-radius: 5px;
}
.about-img-wrapper img {
  /* width:510px; 
    height:391px;
    object-fit:cover;
    object-position: center; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.about-content h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
}
.about-content h6 {
  margin: 10px 0 30px;
  color: #c3c3c3;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.about-content p {
  font-size: 14px;
  color: #c5c5c5;
  line-height: 24px;
  margin-bottom: 20px;
}
.about-content button {
  letter-spacing: 2px;
  font-size: 9px;
}
/* About Section End */

/* Service Section Start */
.service {
  background: #070a10;
  border-bottom: 2px solid grey;
}

.service-title {
  display: inline-block;
  margin: 50px 42%;
  padding: 0 0 10px;
  border-bottom: 1px solid #e9ece0;
}

.service-title a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.service-content {
  display: flex;
  gap: 10px;
  margin: 0px 70px 50px;
  /* justify-content: space-between; */
  /* justify-content: center; */
  /* align-items: center; */
}

.service-text {
  width: 400px;
  height: 300px;
  /* border: 2px solid red; */
  background-color: #11141b;
  text-align: center;
  padding: 5px;
}

.service-text h3 {
  font-size: 15px;
  margin-bottom: 19px;
  padding: 3px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  height: 50px;
  /* border: 1px solid green; */
  text-align: center;
}

.service-text p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #c5c5c5;
  /* text-align:center; */
  /* line-height: 24px; */
}
/* Service Section End */

/* Work-Education Section Start */
.Work-Eduction {
  background-color: #11141b;
  border-bottom: 2px solid grey;
  padding: 30px 0;
}

.Work-Eduction-title {
  /* display: inline-block; */
  /* margin: 50px 42%; */
  padding: 0 0 10px;
  border-bottom: 1px solid #e9ece0;
  text-align: center;
  margin-bottom: 50px;
}

/* .Work-Eduction-title::after{
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(165, 165, 165), rgba(0, 0, 0, 0));

} */

.Work-Eduction-title h2 {
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  /* font-weight: 700; */
  /* padding-bottom: 10px; */
  /* line-height: 1.3; */
  /* color: #fff; */
}
.Work-Eduction-title h2 a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.Work-Eduction-details {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0px 70px 50px;
}

.Work-Eduction-details-box {
  background-color: #0c0f16;
  padding: 40px;
  /* padding: 30px 30px 40px 30px; */
  border-radius: 3px;
  /* box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%); */
}
.Work-Eduction-details-box .details h5 {
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.3;
  /* color: #ffffff; */
  font-weight: normal;
}
.Work-Eduction-details-box .duration {
  color: #ffffff;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 0.5px;
  background-color: #f55422;
  border-radius: 5px;
}

.Work-Eduction-details-box p {
  margin: 18px 0 30px 0;
  font-size: 12px;
  color: #c5c5c5;
  line-height: 15px;
  letter-spacing: 0.5px;
}
/* Work-Education Section Start */

/* Skills Section Start */
.skills {
  background: #070a10;
  border-bottom: 2px solid grey;
  padding: 30px 0;
}
.skills-title {
  padding: 0 0 10px;
  border-bottom: 1px solid #e9ece0;
  text-align: center;
  margin-bottom: 50px;
}

.skills-title h2 {
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  /* font-weight: 700; */
  /* padding-bottom: 10px; */
  /* line-height: 1.3; */
}
.skills-title h2 a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.skills-box {
  display: flex;
  gap: 40px;
  margin: 0px 70px 50px;
  height: 350px;
  /* border: 1px solid red; */
  /* align-items: center; */
  /* justify-content: center; */
}

.skills-content {
  background-color: #11141b;
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-area h5 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
}
.progress-bar {
  background-color: #959595;
  width: 300px;
  height: 5px;
  border-radius: 5px;
}
.progress-bar div {
  height: 5px;
  width: 0%;
  border-radius: 5px;
  background-color: #f55422;
}
.progress-bar div span {
  height: 30px;
  width: 30px;
  font-size: 10px;
  float: right;
  margin-top: -14px;
  margin-right: -20px;
  color: #ffffff;
  /* border-radius: 50%; */
  /* border: 1px solid #f55422; */
  /* background-color: #11141b; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.photoshop {
  animation: photoshop 1.5s linear forwards;
}
.illustrator {
  animation: illustrator 1.5s linear forwards;
}
.figma {
  animation: figma 1.5s linear forwards;
}
.adobeXD {
  animation: adobeXD 1.5s linear forwards;
}
.HTML5-CSS3 {
  animation: HTML5-CSS3 1.5s linear forwards;
}
.javascript {
  animation: javascript 1.5s linear forwards;
}
.reactJs {
  animation: reactJs 1.5s linear forwards;
}
.nodeJs {
  animation: nodeJs 1.5s linear forwards;
}
/* keyframes for animation for skills value */
@keyframes photoshop {
  100% {
    width: 85%;
  }
}
@keyframes illustrator {
  100% {
    width: 30%;
  }
}
@keyframes figma {
  100% {
    width: 50%;
  }
}
@keyframes adobeXD {
  100% {
    width: 40%;
  }
}
@keyframes HTML5-CSS3 {
  100% {
    width: 90%;
  }
}
@keyframes javascript {
  100% {
    width: 75%;
  }
}
@keyframes reactJs {
  100% {
    width: 50%;
  }
}
@keyframes nodeJs {
  100% {
    width: 25%;
  }
}
/* Skills Section End */

/* Get in Touch Section Start */
.contact {
  background: #0c0f16;
  border-bottom: 2px solid grey;
  padding: 30px 0;
}
.contact-title {
  padding: 0 0 10px;
  border-bottom: 1px solid #e9ece0;
  text-align: center;
  margin-bottom: 50px;
}

.contact-title h2 {
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  /* font-weight: 700; */
  /* padding-bottom: 10px; */
  /* line-height: 1.3; */
}

.contact-title a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.contact-form-box {
  /* width:100%; */
  height: 400px;
  margin: 0px 70px 50px;
  /* border: 1px solid red; */
  background: #070a10;
}

.contact-form-details {
  border-bottom: 1px solid gray;
  margin: 10px 20px;
}
.contact-form-details label {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: capitalize;
}
.contact-form-details input {
  width: 100%;
  height: 20px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
}

.contact-form-box .button{
  text-transform: uppercase;
  margin: 0 0 0 10px;
}
/* Get in Touch Section End */

/* Footer Section Start */
.footer{
  background: #070a10;
  border-bottom: 2px solid grey;
  padding: 30px 0;
}

.footer-content{
  text-align: center;
}

.footer .socialLinks{
  margin: 20px;
}

.footer .socialLinks a{
  /* color: #ffffff; */
  /* background-color: #f55422; */
  /* border-radius: 50%; */
  /* height: 100px; */
  /* width: 100px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row;
  justify-content: center;
  text-align: center; */
  
  border: none;
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 3;
}

.footer .socialLinks a:hover{
   background-color: #f55422;
   transition: 1s ease-in-out;
}

/* .footer .socialLinks a i{
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
} */

.footer-content p{
font-size: 15px;
margin: 5px;
}

.footer-content p span{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 3px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #11141b;
  border-radius: 5px;
}
/* Footer Section End */

/* meadia Queries */

@media only screen and (max-width: 600px) {
  .example {background: red;}

}